<% layout('/layouts/boilerplate.ejs') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
    <br>
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= list._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Enter title</label>
          <input name="title" value="<%=list.title%>" type="text" class="form-control" required/>
          <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Enter description</label>
          <textarea name="description" cols="30" rows="5" class="form-control" required><%=list.description%></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        
        <div class="mb-3">
           <img src="<%= Image %>">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input name="image" type="file" class="form-control" required/>
        </div>
    
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input name="price" value="<%=list.price%>" class="form-control" required/>
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Enter country</label>
          <input name="country" value="<%=list.country%>" type="text" class="form-control" required/>
          <div class="invalid-feedback">Please enter a valid country name</div>
        </div>
       </div>
        
        <div class="mb-3">
          <label for="location" class="form-label">Enter location</label>
          <input name="location" value="<%=list.location%>" type="text" class="form-control" required/>
          <div class="invalid-feedback">Please enter a valid location</div>
        </div>
      <button class="btn add-btn">Edit</button>

       <br /><br />
      </form>
    </div>
  </div>
</body>
